<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:fragment="layout(content)">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" href="/css/bootstrap.css" th:href="@{css/bootstrap.css}">
    <script th:src="@{js/bootstrap.js}"></script>
</head>
<body>
<div>
    <div th:replace="~{fragments/navbar::navbar}"></div>
</div>
<div>
    <div th:insert="${content}" class="uk-container uk-margin-large-top uk-align-center"></div>
</div>
<div>
    <div th:replace="~{fragments/footer::footer}"></div>
</div>
</body>
</html>
